body {
    background-color: rgba(39, 37, 37, 0.7);
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}

.h1-p {
    text-align: center;
    color: rgba(12, 216, 243, 0.8);
    font-size: 38px;
    font-weight: 900;
}

#adjust-color {
    font-size: 28px;
    color: #ffffff; 
}

div, a {
    display: block;
    margin: auto;
    width: 300px;
    max-width: 100%;
    color: #03283d;
    font-size: 20px;
}

